<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.cq.mapper.CqAirConditionerRecordMapper">
    <select id="getRecordsByUsername" resultType="org.jeecg.modules.cq.entity.CqAirConditionerRecord">
        select *
        from cq_air_conditioner_record
        where username = #{username}
    </select>
</mapper>