<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.cq.mapper.CqNotificationMapper">
    <select id="getNotificationUsername" resultType="org.jeecg.modules.cq.entity.CqNotification">
        select *
        from cq_notification
        where username = #{username} and is_deleted = 0 order by create_time desc limit 1
    </select>
</mapper>